body {
    background-color: darkslateblue;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title {
    color: white;
}
#container {
    margin: auto;
    text-align: center;
}
#map {
    width: 100%;
    height: 80%;
    background-color: lightgray;
}
#sidebar {
    display: none;
    position: absolute;
    width: 300px;
    height: 80%;
    background-color: #FCFCFC;
    z-index: 1000;
}
html, body, #container {
    width: 100%;
    height: 100%;
}