body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    margin: 16px;
    text-align: center;
}
#map {
    background-color: grey;
    margin: 16px auto;
}
html, body, #container, #map {
    width: 100%;
    height: 100%;
}